
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>dumpling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>&nbsp;</li>
            </ul>
            <div class="navbar-header">
                <img src="~/Content/images/dumpling.png" />
                <b class="navbar-brand">dumpling</b>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.github.com/microsoft/dumpling">the repository</a></li>
                    <li><a href="~/api/client/dumpling.py">the client</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top:25px">
        <p>
            @RenderBody()
        </p>
        <hr />
        <footer class="footer navbar-fixed-bottom">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>&nbsp;</li>
                    <li><a href="https://msdn.microsoft.com/en-us/dn529288">Privacy</a></li>
                    <li><a href="https://msdn.microsoft.com/en-us/cc300389">Terms of use</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>&copy; @DateTime.Now.Year - Microsoft Corporation</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>