
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>dumpling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="align-self:stretch">
    <div class="navbar navbar-inverse navbar-fixed-top" style="float:left">
        <div class="container">
            <div class="navbar-header" style="float:left">
                
                <img src="~/Content/images/dumpling.png" />
                <b class="navbar-brand" style="margin-right:200px">dumpling</b>
                
            </div>
            <div class="navbar-collapse collapse" style="float:right">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.github.com/microsoft/dumpling">the repository</a></li>
                    <li><a href="~/api/client/dumpling.py">the client</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top:25px">
        <p >
            @RenderBody()
        </p>
        <hr />
        <footer>
            <div style="margin-left:20px">
                <a href="https://msdn.microsoft.com/en-us/dn529288" style="margin-right:100px">Privacy</a>
                <a href="https://msdn.microsoft.com/en-us/cc300389">Terms of use</a>
            </div>
            <div>
                <p class="modal-footer">&copy; @DateTime.Now.Year - Microsoft Corporation</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>